.navbar {
    width: 50%;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.navbar ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #FFFF;
    transition-duration: 200ms;
}
.navbar ul li a:hover {
    opacity: 0.9;
}